<ion-header>
  <ion-toolbar>
    <ion-title>
      Comidas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <div>
      <div style="display:inline-block;" class="imagenp"><img src="/assets/comida.jpg" alt="" /></div>
      <div style="display:inline-block;" class="imagenp"><img src="/assets/pizza.jpg" alt="" height="250px" /></div>
      <div style="display:inline-block;" class="imagenp"><img src="/assets/comida3.jpg" alt="" /></div>
    </div>
    <ion-card-header>
      <ion-card-subtitle>Comidas de Tepic, Nayarit</ion-card-subtitle>
      <ion-card-title>Restaurantes:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>A continuacion se mostraran algunos restaurantes de tepic donde podras disfrutar una gran variedad de comidas.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <div>
      <div style="display:inline-block;" class="imagenp"><img src="/assets/wipizz.jpg" alt="" /></div>
    </div>
    <ion-card-header>
      <ion-card-subtitle>Wings, chicago pizza and Beer</ion-card-subtitle>
      <ion-card-title>Wipizz Restaurante</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> Wipizz es un concepto unico en alitas con mas de 15 salsas y las mejores pizzas estilo chicago donde se combina
        sabor, diversion y ambiente.</p>
    </ion-card-content>
  </ion-card>

  
  <ion-card class="welcome-card">
    <div>
      <div style="display:inline-block;" class="imagenp"><img src="/assets/picanteri.png" alt="" /></div>
    </div>
    <ion-card-header>
      <ion-card-subtitle>Mariscos y micheladas</ion-card-subtitle>
      <ion-card-title>Picanteria</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> La "Picanteria" es un restaurante-bar, en el cual puedes disfrutar de una gran variedad de mariscos</p>
    </ion-card-content>
  </ion-card>

  
  <ion-card class="welcome-card">
    <div>
      <div style="display:inline-block;" class="imagenp"><img src="/assets/akahira.jpg" height="300px" alt="" /></div>
    </div>
    <ion-card-header>
      <ion-card-subtitle>Ramen, sushi y otras delicias.</ion-card-subtitle>
      <ion-card-title>Akahira Ramen House</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>  La especialida de este restaurante es el ramen, sushi y otras delicias de la comida japonesa tradicional.</p>
    </ion-card-content>
  </ion-card>

  
  <ion-card class="welcome-card">
    <div>
      <div style="display:inline-block;" class="imagenp"><img src="/assets/ensalada.jpg"  height="300px" alt="" /></div>
    </div>
    <ion-card-header>
      <ion-card-subtitle>Fresca vida.</ion-card-subtitle>
      <ion-card-title>Fresh Salads</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Se sirven ensaladas, paninos, sandwiches con ingredientes frescos y saludables ademas de un excelente servicio.</p>
    </ion-card-content>
  </ion-card>

  
  </ion-content>