img
{
    border-radius: 5px;
}
.encabezado
{
    background-color: rgb(252, 252, 252);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tamano
{
    width: 650px;
    height: 500px;
}

