<div class="encabezado">
  <br>
  <h3>Cena</h3>
  <br>
</div>
<ion-content>

  <div text-center>
    <br>
    <img src="https://c.wallhere.com/photos/1b/b9/desk_restaurant_wine_glasses_plates_flowers_roses-612620.jpg!d"
      width="900" height="400">
  </div>
  <table>
    <tr>
      <td>
          <ion-card class="welcome-card tamano">
              <div>
                <div><img src="https://10619-2.s.cdn12.com/rests/original/319_506334032.jpg" width="700" height="350"/></div>
              </div>
              <ion-card-header>
                <ion-card-subtitle>Hamburguesas, Hotdogs and Snacks</ion-card-subtitle>
                <ion-card-title>La Burguesia tpc</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p> Somos una empresa dedicada a la elaboracion de Hamburguesas y Hotdogs con los mas altos estándares de calidad y servicio, tratano de ser siempre las mejores hamburguesas de la ciudad</p>
              </ion-card-content>
            </ion-card>
      </td>
      <td>
          <ion-card class="welcome-card tamano">
              <div>
                <div><img src="https://scontent.ftpq1-1.fna.fbcdn.net/v/t1.0-9/44585999_2459321614108549_1435274441352282112_n.png?_nc_cat=105&_nc_oc=AQn4JAkarE_WU4IAiz8zeLn1HDmfN6Xapd316HmQX0HG-n3I4X42sDt4ecLgI2l1JrA&_nc_ht=scontent.ftpq1-1.fna&oh=e01ac97317cf307daa2ea3dba88924d0&oe=5E37503C" width="700" height="350"/></div>
              </div>
              <ion-card-header>
                <ion-card-subtitle>Chimichangas</ion-card-subtitle>
                <ion-card-title>Chimy´s</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>¿Cansado de no salir de la rutina ni para cenar? ¡Anímate a probar unas chimys! Deliciosos guisos de camarón, chuleta, pollo, atún, res, dulces ¡y mucho más! envueltos en tortilla de harina con queso.
                    FRITAS Y A LA PLANCHA acompañadas de aderezo.</p>
              </ion-card-content>
            </ion-card>
      </td>
    </tr>
    <tr>
        <td>
            <ion-card class="welcome-card tamano">
                <div>
                  <div><img src="https://scontent.ftpq1-1.fna.fbcdn.net/v/t1.0-9/61843418_587452808444099_5644998585125699584_n.jpg?_nc_cat=110&_nc_oc=AQnfGDfdi-BjGk-_Rbz20-BvdX-51lltpd_te5kqNaAEd35QJqKRNyW2X3VXC1qkmIM&_nc_ht=scontent.ftpq1-1.fna&oh=bd160155080f1cd1b43d04bc40aaa7b1&oe=5E181B0D" width="700" height="350"/></div>
                </div>
                <ion-card-header>
                  <ion-card-subtitle>Tacos a la Leña</ion-card-subtitle>
                  <ion-card-title>3 con todo</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p> Únicos tacos, quesadillas y vampiros a la leña con productos de primera calidad, tenemos de costilla marinada, tripa gorda, sirloin, chorizo y adobada, ademas de nuestras salsas con sabor a rancho que tanto amamos, los mismos de la feria te esperamos</p>
                </ion-card-content>
              </ion-card>
        </td>
        <td>
            <ion-card class="welcome-card tamano">
                <div>
                  <div><img src="https://scontent.ftpq1-1.fna.fbcdn.net/v/t1.0-9/11755700_1670147666548685_6963468816869848579_n.jpg?_nc_cat=106&_nc_oc=AQl-vsRP2I0BRMVpnd0yuyk4fKdmiu8tSo48O_F6JPOKIhrO84hmQyMPDCm3Oh8wdtE&_nc_ht=scontent.ftpq1-1.fna&oh=786b9af309483222691569cacb5b606a&oe=5E653359" width="700" height="350"/></div>
                </div>
                <ion-card-header>
                  <ion-card-subtitle>Cervezas, Alitas y Musica en vivo</ion-card-subtitle>
                  <ion-card-title>El Bicho Del Valle</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p> Acepta reservas
                      No requiere reservas
                      Ideal para grupos
                      Para llevar
                      Terraza o mesas al aire libre</p>
                </ion-card-content>
              </ion-card>
        </td>
      </tr>
  </table>
</ion-content>
